<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sigacon.prjdashboard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="br.com.sigacon.prjdashboard.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.sigacon.prjdashboard.ColetarDadosActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="br.com.sigacon.prjdashboard.ExportarDadosActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="br.com.sigacon.prjdashboard.ImportarDadosActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape">
        </activity>
       	<activity
            android:name="br.com.thinkti.android.filechooser.FileChooser"
            android:screenOrientation="landscape">>
       	</activity>    
    </application>
    
</manifest>
